@if ($component == 'global') {
	.theme-cosmic {
		background-image: url(images/background-base.jpg);
		background-size: cover;
	}
} @else {
	:global(.theme-cosmic) {
		@if ($component == 'TODO/src/routes/index') {
			h1 {
				color: #00f;
			}
		} @else if ($component == 'component 2') {
			h1 {
				color: #f00;
			}
		}
	}
}
